<!DOCTYPE html>
<html>
    <header>
        <title>IPSOGEN :: iPXE ISO Generator UEFI compatible</title>
    </header> 
    <body>
        <center>
        <br>
        <br>
        <br>
        <br>
        <h1>Welcome to IPSOGEN</h1>
        <br>
        <br>
        <br>
        <hr width="75%">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3>IPSOGEN is a iPXE ISO Generator, and it is UEFI compatible</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr width="75%">
        <footer><a href="https://github.com/virer/ipsogen">github.com/virer/ipsogen</a></footer>
        </center>
    </body>
</html>
