<!DOCTYPE html>
<html>
    <header>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>IPSOGEN :: iPXE ISO Generator UEFI compatible</title>
    </header> 
    <body>
        <center>
        <br>
        <br>
        <br>
        <h1>Welcome to IPSOGEN iPXE ISO Generator</h1>
        <br>
        <hr width="45%">
        <br>
        <br>
        <br>
        <form action="/ipsogen" method="POST" enctype="multipart/form-data">
            <h3>IPSOGEN Test Form</h3>
            <input type="text" name="filename" value="my-test-for-ipsogen.iso"><br>
            <input type="file" name="file"><br><br><br>
            <input type="submit" value="Send"><br>
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr width="75%">
        <footer><h6><a href="https://github.com/virer/ipsogen">github.com/virer/ipsogen</a></h6></footer>
        </center>
    </body>
</html>
